.sof-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sof-position-top {
    border-bottom: 1px ridge;
}

.sof-position-bottom {
    border-top: 1px ridge;
}

.sof-align-left {
    text-align: left;
}

.sof-align-center {
    text-align: center;
}

.sof-align-right {
    text-align: right;
}